In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 23.3 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

In [53]:
import psycopg2
conn = psycopg2.connect(database = "plante",
                        user = "plante_owner",
                        host= 'ep-bold-boat-a2s83w2r.eu-central-1.aws.neon.tech',
                        password = "1hnumc8qDlUi",
                        port = 5432)

In [54]:
#Open a cursor to perform database operations
cur = conn.cursor()


# Creation de la base de donné

Création table plantes:

In [12]:

# Execute a command: create datacamp_courses table
cur.execute("""CREATE TABLE Plantes (
    ID_plante SERIAL PRIMARY KEY,
    Nom_scientifique VARCHAR(255) NOT NULL,
    Nom_commun VARCHAR(255),
    Famille VARCHAR(255),
    Genre VARCHAR(255),
    Espèce VARCHAR(255),
    Variété VARCHAR(255),
    Description TEXT,
    Image TEXT,
    Quantité INT NOT NULL,
    Prix_achat NUMERIC(10, 2),
    Prix_vente NUMERIC(10, 2),
    Tags TEXT[] DEFAULT '{}'
);""")
# Make the changes to the database persistent
conn.commit()

In [16]:
# Execute a command: create datacamp_courses table
cur.execute("""CREATE TABLE Clients (
    ID_client SERIAL PRIMARY KEY,
    Nom VARCHAR(255) NOT NULL,
    Prénom VARCHAR(255) NOT NULL,
    Adresse TEXT,
    Téléphone VARCHAR(15),
    Email VARCHAR(255) UNIQUE NOT NULL
);""")
# Make the changes to the database persistent
conn.commit()

In [17]:
# Execute a command: create datacamp_courses table
cur.execute("""CREATE TABLE Commandes (
    ID_commande SERIAL PRIMARY KEY,
    ID_client INT NOT NULL REFERENCES Clients(ID_client) ON DELETE CASCADE,
    Date_commande TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    État_commande VARCHAR(50) CHECK (État_commande IN ('en cours', 'expédiée', 'livrée'))
);""")
# Make the changes to the database persistent
conn.commit()

In [18]:
# Execute a command: create datacamp_courses table
cur.execute("""CREATE TABLE Lignes_commandes (
    ID_ligne_commande SERIAL PRIMARY KEY,
    ID_commande INT NOT NULL REFERENCES Commandes(ID_commande) ON DELETE CASCADE,
    ID_plante INT NOT NULL REFERENCES Plantes(ID_plante) ON DELETE CASCADE,
    Quantité_commandée INT NOT NULL,
    Prix_unitaire NUMERIC(10, 2) NOT NULL
);""")
# Make the changes to the database persistent
conn.commit()

In [39]:
# Execute a command
cur.execute("""INSERT INTO Plantes
(Nom_scientifique, Nom_commun, Famille, Genre, Espèce, Variété, Description, Image, Quantité, Prix_achat, Prix_vente, Tags) VALUES
('Rosa chinensis', 'Rosier de Chine', 'Rosaceae', 'Rosa', 'chinensis', NULL, 'Arbuste à fleurs.', 'rose.jpg', 100, 5.00, 10.00, ARRAY['extérieur', 'fleurs']),
('Lavandula angustifolia', 'Lavande', 'Lamiaceae', 'Lavandula', 'angustifolia', NULL, 'Plante aromatique.', 'lavande.jpg', 200, 3.00, 7.00, ARRAY['aromatique', 'extérieur']),
('Aloe vera', 'Aloès', 'Asphodelaceae', 'Aloe', 'vera', NULL, 'Plante médicinale.', 'aloe.jpg', 80, 12.00, 20.00, ARRAY['médicinal', 'intérieur']),
('Ocimum basilicum', 'Basilic', 'Lamiaceae', 'Ocimum', 'basilicum', NULL, 'Plante aromatique utilisée en cuisine.', 'basilic.jpg', 300, 1.50, 4.00, ARRAY['aromatique', 'cuisine']),
('Citrus sinensis', 'Oranger', 'Rutaceae', 'Citrus', 'sinensis', NULL, 'Arbre fruitier.', 'oranger.jpg', 25, 15.00, 25.00, ARRAY['fruit', 'extérieur']),
('Mentha spicata', 'Menthe verte', 'Lamiaceae', 'Mentha', 'spicata', NULL, 'Plante aromatique.', 'menthe.jpg', 150, 2.00, 5.00, ARRAY['aromatique', 'infusion']),
('Tulipa gesneriana', 'Tulipe', 'Liliaceae', 'Tulipa', 'gesneriana', NULL, 'Fleur colorée.', 'tulipe.jpg', 120, 4.00, 8.00, ARRAY['fleurs', 'extérieur']),
('Chamaedorea elegans', 'Palmier nain', 'Arecaceae', 'Chamaedorea', 'elegans', NULL, 'Plante d''intérieur.', 'palmier.jpg', 30, 8.00, 12.00, ARRAY['intérieur', 'ombre']),
('Dracaena marginata', 'Dragonnier', 'Asparagaceae', 'Dracaena', 'marginata', NULL, 'Plante verte élégante.', 'dracaena.jpg', 40, 15.00, 25.00, ARRAY['intérieur', 'décoration']);""")
# Make the changes to the database persistent
conn.commit()

# Amélioration des tags

In [55]:
cur.execute("""UPDATE Plantes
SET Tags = ARRAY['intérieur', 'ombre', 'vert', 'grande taille', 'décoratif', 'Moraceae', 'abordable', 'tropical', 'facile', 'non toxique','purifie l''air']
WHERE Nom_scientifique = 'Ficus benjamina';""")
cur.execute("""UPDATE Plantes
SET Tags = ARRAY['extérieur', 'fleurs', 'rose', 'moyenne taille', 'cadeau', 'décoratif', 'Rosaceae', 'abordable', 'printemps', 'ensoleillé', 'modéré', 'romantique']
WHERE Nom_scientifique = 'Rosa chinensis';""")
cur.execute("""UPDATE Plantes
SET Tags = ARRAY['aromatique', 'extérieur', 'violet', 'petite taille', 'décoratif', 'Lamiaceae', 'peu cher', 'méditerranéen', 'ensoleillé', 'facile', 'repousse insectes']
WHERE Nom_scientifique = 'Lavandula angustifolia';""")
cur.execute("""UPDATE Plantes
SET Tags = ARRAY['médicinal', 'intérieur', 'vert', 'moyenne taille', 'cadeau', 'Asphodelaceae', 'modéré', 'désertique', 'lumineux', 'facile', 'toxique pour animaux']
WHERE Nom_scientifique = 'Aloe vera';""")
cur.execute("""UPDATE Plantes
SET Tags = ARRAY['aromatique', 'extérieur', 'vert', 'petite taille', 'culinaire', 'Lamiaceae', 'peu cher', 'ensoleillé', 'culture facile', 'parfumé']
WHERE Nom_scientifique = 'Ocimum basilicum';""")
cur.execute("""UPDATE Plantes
SET Tags = ARRAY['fruit', 'extérieur', 'orange', 'grande taille', 'cadeau', 'Rutaceae', 'cher', 'ensoleillé', 'arbre fruitier', 'parfumé', 'tropical']
WHERE Nom_scientifique = 'Citrus sinensis';""")
cur.execute("""UPDATE Plantes
SET Tags = ARRAY['aromatique', 'extérieur', 'vert', 'petite taille', 'culinaire', 'Lamiaceae', 'peu cher', 'culture facile', 'infusion', 'parfumé', 'repousse insectes']
WHERE Nom_scientifique = 'Mentha spicata';""")
cur.execute("""UPDATE Plantes
SET Tags = ARRAY['fleurs', 'extérieur', 'rouge', 'moyenne taille', 'cadeau', 'décoratif', 'Liliaceae', 'abordable', 'printemps', 'culture modérée', 'ornemental']
WHERE Nom_scientifique = 'Tulipa gesneriana';""")
cur.execute("""UPDATE Plantes
SET Tags = ARRAY['intérieur', 'vert', 'petite taille', 'décoratif', 'Arecaceae', 'cher', 'ombre', 'tropical', 'facile', 'non toxique', 'purifie l''air']
WHERE Nom_scientifique = 'Chamaedorea elegans';""")
cur.execute("""UPDATE Plantes
SET Tags = ARRAY['succulente', 'intérieur', 'vert', 'petite taille', 'cadeau', 'décoratif', 'Crassulaceae', 'modéré', 'ensoleillé', 'plante grasse', 'facile', 'faible entretien']
WHERE Nom_scientifique = 'Echeveria elegans';""")

conn.commit()

In [ ]:
# Close cursor and communication with the database
cur.close()
conn.close()